.user-my-page
  = render "shared/header"
  .bread
    %span 
      - breadcrumb :logout
      = breadcrumbs separator: " #{content_tag(:i, '', class:'fa fa-chevron-right')} "
  .container
    .left-column
      = render "shared/my_page_sidebar"
    .right-column
      .user-logout-form
        = link_to "ログアウト",destroy_user_session_path, method: :delete
  = render "shared/footer"