.signup_wrapper
  .signup
    %header.signup_header
      .signup_header__img
        = image_tag "logo.svg"
      
    %main.signup_main
      .signup_main__view
        %h1 新規会員登録
        .signup_main__view_selection
          = link_to "メールアドレスで登録", new_user_registration_path, class:'btn-mail'
          = fa_icon "envelope-o", class:'icon_mail'
          = link_to "Facebookで登録", user_facebook_omniauth_authorize_path,method: :post, class:'btn-facebook'
          = fa_icon "facebook-square", class:'icon_facebook'
          = link_to "Googleで登録", user_google_oauth2_omniauth_authorize_path,method: :post, class:'btn-google'
          = image_tag "google-icon.png", class:'icon_google'
    = render 'shared/new_signup_footer'