.signup_wrapper
  .signup
    %header.signup_header
      .signup_header__img
        = image_tag "logo.svg"
      
    %main.signup_main
      .signup_main__view
        %h1 新規会員登録
        .signup_main__selection
          %p
            %button.signup_main__selection--btn-mail
              = fa_icon "envelope-o"
              = link_to new_user_registration_path do
                メールアドレスで登録
            %button.signup_main__selection--btn-facebook
              = fa_icon "facebook-square"
              = link_to "Facebookでログイン", user_facebook_omniauth_authorize_path
            %button.signup_main__selection--btn-google
              .signup_main_btn__img
                = image_tag "google-icon.png"
                = link_to "Googleでログイン", user_google_oauth2_omniauth_authorize_path
    = render 'shared/new_signup_footer'