.top_page_main_container
  .pick_up_category.wrapper
    %h1 ピックアップカテゴリー
    .categocies.main_block
      .pick_up_category_ladies.main_block_new_items
        %h2
          = link_to "レディース 新着アイテム", "#"
        .main_block_new_items_area
          = link_to "#", class: "new_item" do
            .new_item__image_area
              = image_tag "300×300.png"
            .new_item__text_area
              .new_item__text_area--title
                メンズジャケット
              .new_item__text_area--price
                ￥5000
                %span
                  = fa_icon "heart-o"
                  8
          = link_to "#", class: "new_item" do
            .new_item__image_area
              = image_tag "jaket.jpg"
            .new_item__text_area
              .new_item__text_area--title
                メンズジャケット
              .new_item__text_area--price
                ￥5000
                %span
                  = fa_icon "heart-o"
                  8
          = link_to "#", class: "new_item" do
            .new_item__image_area
              = image_tag "jaket.jpg"
            .new_item__text_area
              .new_item__text_area--title
                メンズジャケット
              .new_item__text_area--price
                ￥5000
                %span
                  = fa_icon "heart-o"
                  8
          = link_to "#", class: "new_item" do
            .new_item__image_area
              = image_tag "jaket.jpg"
            .new_item__text_area
              .new_item__text_area--title
                メンズジャケット
              .new_item__text_area--price
                ￥5000
                %span
                  = fa_icon "heart-o"
                  8
        %p.link_to_items
          = link_to "すべての商品を見る", "#"
      .pick_up_category_mens.main_block_new_items
        %h2
          = link_to "メンズ 新着アイテム", "#"
        .main_block_new_items_area
          = link_to "#", class: "new_item" do
            .new_item__image_area
              = image_tag "jaket.jpg"
            .new_item__text_area
              .new_item__text_area--title
                メンズジャケット
              .new_item__text_area--price
                ￥5000
                %span
                  = fa_icon "heart-o"
                  8
          .new_item
          .new_item
          .new_item
        %p.link_to_items
          = link_to "すべての商品を見る", "#"
      .pick_up_category_babies.main_block_new_items
        %h2
          = link_to "ベビー・キッズ 新着アイテム", "#"
        .main_block_new_items_area
          = link_to "#", class: "new_item" do
            .new_item__image_area
              = image_tag "jaket.jpg"
            .new_item__text_area
              .new_item__text_area--title
                メンズジャケット
              .new_item__text_area--price
                ￥5000
                %span
                  = fa_icon "heart-o"
                  8
          .new_item
          .new_item
          .new_item
        %p.link_to_items
          = link_to "すべての商品を見る", "#"
      .pick_up_category_cosme.main_block_new_items
        %h2 
          = link_to "コスメ・香水・美容 新着アイテム", "#"
        .main_block_new_items_area
          = link_to "#", class: "new_item" do
            .new_item__image_area
              = image_tag "jaket.jpg"
            .new_item__text_area
              .new_item__text_area--title
                メンズジャケット
              .new_item__text_area--price
                ￥5000
                %span
                  = fa_icon "heart-o"
                  8
          .new_item
          .new_item
          .new_item
        %p.link_to_items
          = link_to "すべての商品を見る", "#"
  .pick_up_bland.wrapper
    %h1 ピックアップブランド
    .blands.new_items.main_block
      .pick_up_bland_chanel.main_block_new_items
        %h2
          = link_to "シャネル 新着アイテム", "#"
        .main_block_new_items_area
          .new_item
          .new_item
          .new_item
          .new_item
        %p.link_to_items
          = link_to "すべての商品を見る", "#"
      .pick_up_bland_vuitton.main_block_new_items
        %h2 
          = link_to "ルイヴィトン 新着アイテム", "#"
        .main_block_new_items_area
          .new_item
          .new_item
          .new_item
          .new_item
        %p.link_to_items
          = link_to "すべての商品を見る", "#"
      .pick_up_bland_supreme.main_block_new_items
        %h2 
          = link_to "シュプリーム 新着アイテム", "#"
        .main_block_new_items_area
          .new_item
          .new_item
          .new_item
          .new_item
        %p.link_to_items
          = link_to "すべての商品を見る", "#"
      .pick_up_bland_nike.main_block_new_items
        %h2
          = link_to "ナイキ 新着アイテム", "#"
        .main_block_new_items_area
          .new_item
          .new_item
          .new_item
          .new_item
        %p.link_to_items
          = link_to "すべての商品を見る", "#"