.top_page_main_container
  .pick_up_category.wrapper
    %h1 ピックアップカテゴリー
    .categocies.main_block
      .pick_up_category_ladies.main_block_new_items
        %h2
          = link_to "レディース 新着アイテム", "#"
        .main_block_new_items_area
          - @items = @ladys
          = render @items
      .pick_up_category_mens.main_block_new_items
        %h2
          = link_to "メンズ 新着アイテム", "#"
        .main_block_new_items_area
          - @items = @mens
          = render @items
      .pick_up_category_mens.main_block_new_items
        %h2
          = link_to "新着アイテム", "#"
        .main_block_new_items_area
          - @items = @latest_items
          = render @items