%ul.menu-list.list-parent
  %li.menu-list__title.list-item
    マイページ
    = fa_icon "chevron-right",class:"menu-list__title__arrow"
  %li.menu-list__item.list-item
    お知らせ
    = fa_icon "chevron-right",class:"menu-list__item__arrow"
  %li.menu-list__item.list-item
    やることリスト
    = fa_icon "chevron-right",class:"menu-list__item__arrow"
  %li.menu-list__item.list-item
    いいね！一覧
    = fa_icon "chevron-right",class:"menu-list__item__arrow"
  %li.menu-list__item.list-item
    出品する
    = fa_icon "chevron-right",class:"menu-list__item__arrow"
  %li.menu-list__item.list-item
    出品した商品 - 出品中
    = fa_icon "chevron-right",class:"menu-list__item__arrow"
  %li.menu-list__item.list-item
    出品した商品 - 取引中
    = fa_icon "chevron-right",class:"menu-list__item__arrow"
  %li.menu-list__item.list-item
    出品した商品 - 売却済み
    = fa_icon "chevron-right",class:"menu-list__item__arrow"
  %li.menu-list__item.list-item
    購入した商品 - 取引中
    = fa_icon "chevron-right",class:"menu-list__item__arrow"
  %li.menu-list__item.list-item
    購入した商品 - 過去の取引
    = fa_icon "chevron-right",class:"menu-list__item__arrow"
  %li.menu-list__item.list-item
    ニュース一覧
    = fa_icon "chevron-right",class:"menu-list__item__arrow"
  %li.menu-list__item.list-item
    評価一覧
    = fa_icon "chevron-right",class:"menu-list__item__arrow"
  %li.menu-list__item.list-item
    ガイド
    = fa_icon "chevron-right",class:"menu-list__item__arrow"
  %li.menu-list__item.list-item
    お問い合わせ
    = fa_icon "chevron-right",class:"menu-list__item__arrow"
%h3
  メルペイ
%ul.melpay.list-parent
  %li.melpay__item.list-item
    売り上げ・振込申請
    = fa_icon "chevron-right",class:"menu-list__item__arrow"
  %li.melpay__item.list-item
    ポイント
    = fa_icon "chevron-right",class:"menu-list__item__arrow"
%h3
  設定
%ul.setting.list-parent
  %li.setting__item.list-item
    プロフィール
    = fa_icon "chevron-right",class:"menu-list__item__arrow"
  %li.setting__item.list-item
    発送元・お届け先住所変更
    = fa_icon "chevron-right",class:"menu-list__item__arrow"
  %li.setting__item.list-item
    支払い方法
    = fa_icon "chevron-right",class:"menu-list__item__arrow"
  %li.setting__item.list-item
    メール/パスワード
    = fa_icon "chevron-right",class:"menu-list__item__arrow"
  %li.setting__item.list-item
    本人情報
    = fa_icon "chevron-right",class:"menu-list__item__arrow"
  %li.setting__item.list-item
    電話番号の確認
    = fa_icon "chevron-right",class:"menu-list__item__arrow"
  %li.setting__item.list-item
    = link_to "ログアウト", welcome_logout_path
    = fa_icon "chevron-right",class:"menu-list__item__arrow"