.signup_wrapper
  .login
    %header.signup_header
      .signup_header__img
        = image_tag "logo.svg"
    %form.login_main_view
      .login_main_view__top
        %p アカウントをお持ちでない方はこちら
        %input(type="submit" name="login_button" value="新規会員登録")
      .login_main_view__sns
        .login_main_view__sns--login-facebook
          %input(type="submit" name="facebook_login_button" value="Facebookでログイン")
          = fa_icon "facebook-square"
        .login_main_view__sns--login-google
          %input(type="submit" name="google_login_button" value="Googleでログイン")
          = image_tag "google-icon.png"
        .login_main_view__sns--login-mail
          %input(type="text" class="mail_login_input" placeholder="メールアドレス")
        .login_main_view__sns--login-pass
          %input(type="text" class="pass_login_input" placeholder="パスワード")
        .g-recaptcha{data: {callback: "clearcall", sitekey: "6LcHKqsUAAAAAC6rhshzpdtqjowHvq7CorDrom0s"}}
        .login_main_view__sns--login-button
          %input(type="submit" name="login_button" value="ログイン")
        = link_to "パスワードをお忘れの方",  "#"
  = render 'shared/new_signup_footer'