.user-my-page
  = render "header"
  .container
    .left-column
      = render "my_page_sidebar"
    .right-column
      .profile
        = link_to "#" do
          .profile__image
            = image_tag "member_photo_noimage_thumb.png"
          .profile__name
            John
          .profile__number
            .profile__number__evaluation
              評価数
              %span.profile__number__evaluation__value
                0
            .profile__number__upload
              出品数
              %span.profile__number__upload__value
                0
      %ul.information.list-parent
        .information__header
          .information__header-pos-left
            お知らせ
          .information__header-pos-right
            やることリスト
        %li.information__item.list-item
          .information__item__image
            = image_tag "mercari_profile.png"
          .information__item__body
            .information__item__body__text
              3日後、5%割引お得チケットの有効期限が切れます！タップして詳細を確認しましょう。
            .information__item__body__time
              = fa_icon "clock-o"
              6 時間前
          = fa_icon "chevron-right",class:"information__item__arrow menu-list__item__arrow"
        %li.information__item.list-item
          .information__item__image
            = image_tag "mercari_profile.png"
          .information__item__body
            .information__item__body__text
              3日後、P999還元お得チケットの有効期限が切れます！タップして詳細を確認しましょう。
            .information__item__body__time
              = fa_icon "clock-o"
              1 時間前
          = fa_icon "chevron-right",class:"information__item__arrow menu-list__item__arrow"
        .menu-list__more
          %h3 
            一覧を見る
      %ul.todo.list-parent.display-none
        .todo__header
          .todo__header-pos-left
            お知らせ
          .todo__header-pos-right
            やることリスト
        - if false
        - else
          %li.todo__item-data-nothing
            %h3 
              現在、やることリストはありません

      %ul.trading.list-parent
        %h3.trading-label
          購入した商品
        .trading__header
          .trading__header-pos-left
            取引中
          .trading__header-pos-right
            過去の取引
        - if false
        - else
          %li.trading__item-data-nothing
            %h3 
              取引中の商品がありません
      %ul.finished.list-parent.display-none
        %h3.finished-label
          購入した商品
        .finished__header
          .finished__header-pos-left
            取引中
          .finished__header-pos-right
            過去の取引
        - if false
        - else
          %li.finished__item-data-nothing
            %h3 
              過去に取引した商品がありません
  = render "footer"
