.new_signup
  %header.new_signup_header
    .new_signup_header__img
      = image_tag "logo.svg"
    
  %main.new_signup_main
    .new_signup_main__view
      %h1 新規会員登録
      .new_signup_main__selection
        %p
          %button.new_signup_main__selection--btn-mail
            = fa_icon "envelope-o "
            %a
              メールアドレスで登録
          %button.new_signup_main__selection--btn-facebook
            = fa_icon "facebook-square"
            %a
              Facebook
          %button.new_signup_main__selection--btn-google
            .new_signup_main_btn__img
              = image_tag "google-icon.png"
              %a
                Google
  = render 'shared/new_signup_footer'