.user-my-page
  = render "shared/header"
  .bread
    %span 
      - breadcrumb :credit
      = breadcrumbs separator: " #{content_tag(:i, '', class:'fa fa-chevron-right')} "
  .container
    .left-column
      = render "shared/my_page_sidebar"
    .right-column
      .select-payment
        .select-payment__header
          支払い方法
        .select-payment__contents
          %h2 クレジットカード一覧
          - if @card_info.nil?
            = link_to new_credit_path, class: "new_credit_btn" do
              = fa_icon "credit-card"
              クレジットカードを追加する
          - else
            .select-payment__contents__card
              .select-payment__contents__card__data
                = image_tag @card_info[:brand]
                %p
                  = @card_info[:last4]
                %p
                  = @card_info[:exp_date]
              .select-payment__contents__card__link
                = link_to credit_path(current_user), method: :delete do
                  %p 削除する
          .select-payment__contents__bar
        .select-payment__footer
          = link_to "#" do
            支払い方法について
            = fa_icon "angle-right"
        
  = render "shared/footer"
  = render "shared/new_item_button"
