.login_wrapper
  .login
    %header.signup_header
      .signup_header__img
        = link_to root_path do
          = image_tag "logo.svg"
    = form_with model: User, url: user_session_path, method: :post, local: true, class: "login_main_view" do |f|
      .login_main_view__top
        %p アカウントをお持ちでない方はこちら
        = link_to "新規会員登録", new_user_registration_path
      .login_main_view__sns
        = link_to "Facebookでログイン", user_facebook_omniauth_authorize_path,method: :post, class:'btn-facebook'
        = fa_icon "facebook-square", class:'icon_facebook'
        = link_to "Googleでログイン", user_google_oauth2_omniauth_authorize_path,method: :post, class:'btn-google'
        = image_tag "google-icon.png", class:'icon_google'
        .login_main_view__sns--login-mail
          = f.email_field :email,  {autofocus: true, autocomplete: "email", class: "email_login_input", placeholder: "メールアドレス"}
        .login_main_view__sns--login-pass
          = f.password_field :password, {class: "password_input", autocomplete: "new-password", placeholder: "パスワード"}
        .g-recaptcha{data: {callback: "clearCall", sitekey: "6LcHKqsUAAAAAC6rhshzpdtqjowHvq7CorDrom0s"}}
        .login_main_view__sns--login-button
          = f.submit "ログイン",{class: "next_page_buttom", disabled: "disabled"}
        = link_to "パスワードをお忘れの方",  "#"
  = render 'shared/new_signup_footer'