
- if item.buy_history.present?
  = link_to item, class: "one_item item_soldout__parent search_item" do
    .one_item__image_area.item_soldout__children
      = image_tag item.images[0]
    .one_item__text_area
      .one_item__text_area--title
        = item.name
      .one_item__text_area--price
        = "¥#{item.price}"
        %span
          = fa_icon "heart-o"
          8
- else 
  = link_to item, class: "one_item search_item" do
    .one_item__image_area
      = image_tag item.images[0]
    .one_item__text_area
      .one_item__text_area--title
        = item.name
      .one_item__text_area--price
        = "¥#{item.price}"
        %span
          = fa_icon "heart-o"
          8

