- if item.buy_history.present?
  = link_to item, class: "new_item item_soldout__parent" do
    .new_item__image_area.item_soldout__children
      = image_tag item.images[0]
    .new_item__text_area
      .new_item__text_area--title
        = item.name
      .new_item__text_area--price
        = "¥#{item.price}"
        %span
          = fa_icon "heart-o"
          8
- else 
  = link_to item, class: "new_item" do
    .new_item__image_area
      = image_tag item.images[0]
    .new_item__text_area
      .new_item__text_area--title
        = item.name
      .new_item__text_area--price
        = "¥#{item.price}"
        %span
          = fa_icon "heart-o"
          8