.top_page
  = render "shared/header"
  .top_page_info_area
    = image_tag "banner-camp.jpg", class: "top_page_info_area__banner"
  .top_page_main
    = render "shared/top_page_main"
  = render "shared/footer"
  = render "shared/new_item_button"