.new_item_page
  .new_item_page_container
    .new_item_page_container_top
      .new_item_page_container_top__img
        = link_to root_path do
          = image_tag "logo.svg"
    = form_with model: @item, url: items_path, class: "new_item_page_container_main" ,method: :post , local: true do |f|
      .new_item_page_container_main_title
        商品の情報を入力
      .new_item_page_container_main_item_image
        = render "shared/error_messages" , model: f.object
        %p.new_item_page_container_main_label
          出品画像
          %span.required
            必須
        %p.desc 最大10枚までアップロードできます。
        .new_item_page_container_main_item_image_area
          .top_area.prepend_area
            .image_file_area
              %p 
                ドラッグアンドドロップ
                %br
                もしくはクリックをしてアップロード
              = f.file_field :images, multiple: true, id: "upload_file", class: "upload_files", data:{id: "1"}
              = f.hidden_field :file, class: "item_images_hidden", multiple: true
          .under_area.prepend_area
            .image_file_area
              %p 
                ドラッグアンドドロップ
                %br
                もしくはクリックをしてアップロード
      .new_item_page_container_main_item_description
        %p.new_item_page_container_main_label
          商品名 
          %span.required
            必須
        = f.text_field :name, {placeholder: "商品名 (必須40文字まで)", maxlength: "40"}
        %p.new_item_page_container_main_label
          商品の説明
          %span.required
            必須
        = f.text_area :description, {maxlength: "1000",  placeholder: "商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。"}
      .new_item_page_container_main_item_detail
        .left_content
          商品の詳細
        .right_content
          %p.new_item_page_container_main_label
            カテゴリ
            %span.required
              必須
          .select_box.category1
            = f.select :category_id, options_from_collection_for_select(Category.where('id < 14'), :id, :name)
            = fa_icon "angle-down"
          .select_box.category2
            = f.select :category2, [["---",""],["半袖","半袖"],["長袖","長袖"],["七分","七分"]]
            = fa_icon "angle-down"
          .select_box.category3
            = f.select :category3, [["---",""],["半袖","半袖"],["長袖","長袖"],["七分","七分"]]
            = fa_icon "angle-down"
          #select_size
            %p.new_item_page_container_main_label.select_label
              サイズ
              %span.required
                必須
            .select_box
              = f.select :size, [["---", ""], ["XXS以下", "XXS以下"],["XS(SS)", "XS(SS)"], ["S", "S"], ["M", "M"], ["L", "L"], ["XL(LL)", "XL(LL)"], ["2XL(3L)", "2XL(3L)"], ["3XL(4L)", "3XL(4L)"], ["4XL(5L)以上", "4XL(5L)以上"], ["FREE SIZE", "FREE SIZE"]]
              = fa_icon "angle-down"
          #input_bland
            %p.new_item_page_container_main_label.select_label
              ブランド
              %span.optional
                任意
            .input_box
              = f.text_field :bland, {placeholder: "例) シャネル"}
          %p.new_item_page_container_main_label.select_label
            商品の状態
            %span.required
              必須
          .select_box
            = f.select :status, [["---", ""], ["新品", "新品"],["未使用に近い", "未使用に近い"],["目立った傷や汚れなし", "目立った傷や汚れなし"], ["やや傷や汚れあり", "やや傷や汚れあり"], ["全体的に状態が悪い", "全体的に状態が悪い"]]
            = fa_icon "angle-down"
      .new_item_page_container_main_item_delivary
        .left_content
          配送について
        .right_content
          %p.new_item_page_container_main_label
            配送料の負担
            %span.required
              必須
          .select_box
            = f.select :delivery_burden, [["---", ""], ["送料込み(出品者負担)", "送料込み(出品者負担)"],["着払い(購入者負担)", "着払い(購入者負担)"]]
            = fa_icon "angle-down"
          %p.new_item_page_container_main_label.delivery_method_select_label
            配送の方法
            %span.required
              必須
          .select_box.delivery_method_select
            = f.select :delivery_method, [], id: "delivery_method"
            = fa_icon "angle-down"
          %p.new_item_page_container_main_label
            発送元の地域
            %span.required
              必須
          .select_box

            = f.select :delivery_prefecture, options_from_collection_for_select(Prefecture.all, :name, :name)
            = fa_icon "angle-down"
          %p.new_item_page_container_main_label
            発送までの日数
            %span.required
              必須
          .select_box
            = f.select :delivery_time, [["---", ""], ["1~2日", "1~2日"],["3~4日", "3~4日"],["4~7日", "4~7日"]]
            = fa_icon "angle-down"
      .new_item_page_container_main_item_price
        .left_content
          販売価格
          %span (300〜9,999,999)
        .right_content
          .input_price
            %p.new_item_page_container_main_label
              価格
              %span.required
                必須
            .input_price__area
              ¥
              = f.text_field :price, {id: "price", placeholder: "例）300", maxlength: "7", value: ""}
          .sales_fee
            %p 販売手数料(10%)
            %p.sales_fee__computed -
          .sales_benefit
            %p 販売利益
            %p.sales_benefit__computed -
      .new_item_page_container_main_submit
        %p.new_item_page_container_main_submit__attension
          = link_to "禁止されている出品", "#"
          、
          = link_to "行為", "#"
          を必ずご確認ください。
          %br
            またブランド品でシリアルナンバー等がある場合はご記載ください。
            = link_to "偽ブランドの販売", "#"
            は犯罪であり処罰される可能性があります。
            %br 
              また、出品をもちまして
              = link_to "加盟店規約", "#"
              に同意したことになります。
        = f.submit "出品する", {id: "item_submit"}
        = link_to "もどる", :back, class: "page_back"
    .new_item_page_container_bottom
      .bottom__attention
        %span プライバシーポリシー
        %span メルカリ利用規約
        %span 特定商取引に関する表記
      .bottom__logo
        = link_to root_path do
          = image_tag 'logo-gray.svg'
      .bottom__copy_light
        &copy;2019 Mercari
  = render "shared/new_item_button"
